.key_letter_content {
    padding: .15rem;

    .black_bold {
        font-weight: 900;
        padding: .02rem;
        font-size: .15rem;
    }

    .blue{
        color: #06F;
        padding: .02rem;
    }

    .red_bold {
        font-weight: 900;
        padding: .02rem;
        font-size: .2rem;
        color: red;
    }
}

.key_letter_content :global(.ant-form-item-label){
    font-weight: 900;
}

.key_letter_content :global(#keyForm){
    width: 12rem;
}