.EmailDetail {
    padding: .2rem .15rem;
    min-height: 4.5rem;

    .EmailDetail_header {
        display: flex;
        font-size: 15px;

        &>div {
            width: 5rem;
            margin-bottom: .15rem;

            &:first-child {
                color: #06F;
            }
        }
    }

    .CaptchaImg {
        display: flex;
        position: absolute;
        left: -1.15rem;
        cursor: pointer;
    }
}

.EmailDetail :global(.ant-form-item-label) {
    font-weight: 900;
}