.comment_item {
    $bg-color: #BDF;

    box-sizing: border-box;
    border: 2px solid $bg-color;
    border-radius: 5px;
    margin-bottom: 20px;

    .comment_item_header {
        display: flex;
        justify-content: space-between;
        height: 33px;
        line-height: 33px;
        background-color: $bg-color;
        padding: 0 10px;

        .comment_item_header_right {


            .btn {
                $bg-color: #5cb85c;
                $hover-bg-color: #449D44;
                text-align: center;
                vertical-align: middle;
                line-height: 18px;
                font-size: 12px;
                color: #fff;
                border: 1px solid $bg-color;
                background-color: #5cb85c;
                border-radius: 4px;
                cursor: pointer;
                margin-left: 10px;

                &:hover {
                    background-color: $hover-bg-color;
                    border-color: #5cb85c;
                }
            }
        }


    }

    .comment_item_body {
        padding: 0 10px;
        line-height: 30px;
        white-space: pre-wrap;
    }
}