.loginPage {
    position: relative;

    .loginBox {
        position: absolute;
        width: 4.5rem;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
    }
}